appdirs==1.4.4
attrs==20.2.0
bandit==1.6.2
distlib==0.3.1
filelock==3.0.12
gitdb==4.0.5
GitPython==3.1.9
iniconfig==1.0.1
packaging==20.4
pbr==5.5.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.1
PyYAML==5.3.1
six==1.15.0
smmap==3.0.4
stevedore==3.2.2
toml==0.10.1
virtualenv==20.0.34
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
